/* FANCYBOX OVERRIDES */
.fancybox-skin {
  padding: 0 !important;
  background-color: #d7d7d7 !important;
}

.exam-room .ticker {
  width: 41.5%;
  position: absolute;
  top: 2.3%;
  left: 17.2%;
  font-size: 100%;
}

.exam-room .ticker .content {
  font-family: 'digital-7_italic';
  position: absolute;
  top: 31%;
  left: 0;
  color: #fff;
  font-size: 3.5vh;
  width: 94%;
  margin-left: 3%;
  color: #0080a5;
}

.exam-room .clock, .fb-exam .clock {
  width: 11.8%;
  position: absolute;
  top: 2%;
  left: 3%;
  font-size: 100%;
}

.fb-exam .clock {
  position: relative;
  width: 125px;
  height: 55px;
  float: left;
}

.fb-exam .clock img {
  width: 100%;
  height: 100%;
}

.clock .content {
  font-family: 'digital-7_italic';
  color: #fff;
  font-size: 5.3vh;
  top: 20%;
  position: absolute;
  width: 100%;
  left: 0;
  color: #c81022;
}

.fb-exam .clock .content {
  top: 11px;
}

.exam-room .total-points, .fb-exam .total-points { 
  position: absolute;
  top: 12%;
  left: 4.3%;
  font-size: 4vh;
  font-weight: bold;
  color: #c81022;
}

.fb-exam .total-points { 
  position: static;
  margin-top: 10px;
  margin-left: 35px;
  float: left;
}

.exam-room #poster1 {
  width: 19%;
  position: absolute;
  top: 18%;
  left: 17%;
}

.exam-room #poster2 {
  width: 8.7%;
  position: absolute;
  top: 17.8%;
  left: 36.5%;
}

.exam-room #tv {
  width: 27%;
  position: absolute;
  top: 17.8%;
  right: 6%;
  transform: skew(0deg, 5deg);
}

.exam-room .iphone-trigger {
  position: absolute;
  bottom: 6%;
  width: 5.5%;
  left: 11%;
}
.exam-room .iphone-trigger.done {
  width: 12.5%;
  left: 9%;
}

.exam-room .mouse-trigger {
  position: absolute;
  bottom: 3.3%;
  width: 34%;
  left: 20%;
}

.exam-room .mouse-trigger a {
  width: 12%;
  height: 62%;
  position: absolute;
  right: 1%;
  top: 27%;
}

.exam-room .phone-trigger {
  position: absolute;
  bottom: 14.3%;
  width: 12%;
  right: 36%;
}

.exam-room .break-trigger {
  position: absolute;
  bottom: 4%;
  width: 6%;
  height: 18%;
  right: 26.5%;
}
.exam-room .break-trigger a, .exam-room .exit-trigger a { height: 100%; width: 100%; }

.exam-room .exit-trigger {
  position: absolute;
  top: 15%;
  width: 12%;
  height: 40%;
  right: 41.5%;
}

.exam-room .fluid img { width: 100%; }
.exam-room .fluid a { display: block; }
.exam-room .fluid.done a { cursor: default; }
.exam-room .exit-trigger.done a { cursor: pointer; }

.fancybox-overlay.iphone {
  background: #fff;
}

.fb-exam {
  background-color: #d7d7d7;
  background-image: url('../img/exam_room/exam_fb_bg.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: right;
  height: 100%;
  width: 100%;
  position: relative;
  color: #3c3f43;
  font-size: 18px;
}

.fb-exam .common-elements {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 50%;
}

.fb-exam .icon {
  position: absolute;
  top: 0;
  right: 0;
}

.fb-exam > .content {
  margin: 80px 3% 0;
  background-color: #ffffff;
  border: 2px solid #b89a81;
  border-bottom: none;
  min-height: 60%;
  float: left;
  width: 94%;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.fb-exam .info-header {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #505359;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.fb-exam .scenario-text {
  text-align: left;
  padding: 15px 20px;
}

#poster1-exam .scenario-text {
  padding-top: 30px;
}

#poster1-exam .scenario-text img {
  margin-right: 30px; 
}

.fb-exam .question {
  padding: 15px 20px;
  text-align: left;
}

.fb-exam .content .answers {
  text-align: left;
}

.fb-exam .content .answer_row {
  margin-bottom: 20px;
}

.fb-exam .content .answers label {
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.fb-exam .footer {
  padding: 0 2%;
  margin-top: 15px;
  width: 96%;
  float: left;
}

.fb-exam .bottom-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100% !important;
  background-color: #edeeef;
}

.fb-exam .footer button {
  background-color: #c81022;
  color: #ffffff;
  width: 69px;
  height: 31px;
  border: none;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.fb-exam .footer button.submit {
  background-color: #188eae;
}

.fb-exam .footer button:focus {outline:0;}

.fb-exam .footer .back-btn {
  float: left;
}

.fb-exam .footer .next-btn {
  float: right;
}



.exam-room #poster_1 a, .exam-room #poster_2 a, .exam-room #tv a {
  display: block;
}

/* Firefox specific styles */
@-moz-document url-prefix() {
  .exam-room .ticker .content {
    top: 25%;
  }

  .exam-room .clock .content {
    top: 10%;
  }
}