.exam-room .ticker {
  width: 41.5%;
  position: absolute;
  top: 2.3%;
  left: 17.2%;
  font-size: 100%;
}

.exam-room .ticker img, .exam-room .clock img {
  width: 100%;
}

.exam-room .ticker .content {
  font-family: 'digital-7_italic';
  position: absolute;
  top: 31%;
  left: 0;
  color: #fff;
  font-size: 3.5vh;
  width: 94%;
  margin-left: 3%;
}

.exam-room .clock {
  width: 12.5%;
  position: absolute;
  top: 2%;
  left: 3%;
  font-size: 100%;
}

.exam-room .clock .content {
  font-family: 'digital-7_italic';
  color: #fff;
  font-size: 5.3vh;
  top: 16%;
  position: absolute;
  width: 100%;
  left: 0;
}

.exam-room .clock .content .minutes { left: 7%; }
.exam-room .clock .content .seconds { right: 7%; }

.exam-room #poster_1 {
  width: 19%;
  position: absolute;
  top: 18%;
  left: 17%;
}

.exam-room #poster_1 img {
  width: 100%;
}

.exam-room #poster_2 {
  width: 8.7%;
  position: absolute;
  top: 17.8%;
  left: 36.5%;
}

.exam-room #poster_2 img {
  width: 100%;
}

.exam-room #tv {
  width: 27%;
  position: absolute;
  top: 17.8%;
  right: 6%;
  transform: skew(0deg, 5deg);
}

.exam-room #tv img {
  width: 100%;
}

.fancybox-overlay.iphone {
  background: #fff;
}

.fb-exam {
  background-color: #d7d7d7;
  background-image: url('../img/exam_room/exam_fb_bg.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: right;
  height: 100%;
  width: 100%;
}

.fancybox-skin {
  background-color: #d7d7d7 !important;
}

.exam-room #poster_1 a, .exam-room #poster_2 a, .exam-room #tv a {
  display: block;
}

/* Firefox specific styles */
@-moz-document url-prefix() {
  .exam-room .ticker .content {
    top: 25%;
  }

  .exam-room .clock .content {
    top: 10%;
  }
}