@font-face {
    font-family: 'felt_tipregular';
    src: url('../fonts/felt_tip_roman-webfont.eot');
    src: url('../fonts/felt_tip_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/felt_tip_roman-webfont.woff2') format('woff2'),
         url('../fonts/felt_tip_roman-webfont.woff') format('woff'),
         url('../fonts/felt_tip_roman-webfont.ttf') format('truetype'),
         url('../fonts/felt_tip_roman-webfont.svg#felt_tipregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7_italic';
    src: url('../fonts/digital-7_italic-webfont.eot');
    src: url('../fonts/digital-7_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7_italic-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_italic-webfont.woff') format('woff'),
         url('../fonts/digital-7_italic-webfont.ttf') format('truetype'),
         url('../fonts/digital-7_italic-webfont.svg#digital-7_italicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.eot');
    src: url('../fonts/digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff'),
         url('../fonts/digital-7-webfont.ttf') format('truetype'),
         url('../fonts/digital-7-webfont.svg#digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #f1f1f2;
}

area { outline: none; display: inline-block; }

.fancybox {
  display: none;
  color: #4c4d4e;
}

.hide { display: none; }

.fancybox .header {
  border-bottom: 1px solid #bfbdbf;
  text-align: left;
  height: 43px;
  padding: 15px;
}

.fancybox .title {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  line-height: 53px;
  height: 100%;
  vertical-align: top;
}

.fancybox-close {
  width: 25px !important;
  height: 25px !important;
  background-image: url(../img/fancybox-close.png) !important;
  background-size: auto !important;
  top: 20px !important;
  right: 20px !important;
}

#top-menu {
  height: 40px;
  background-color: #f1f1f2;
  position: absolute;
  z-index: 5;
}

#top-menu .links {
  display: none;
}

#top-menu .toggle-menu {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  border: none;
}

#top-menu .toggle-menu:focus {
  outline:0;
}

#top-menu .toggle-menu:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 20px;
  display: block;
  width: 22px;
  height: 2px;
  background: #EF4940;
}

#top-menu .toggle-menu:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #EF4940;
  border-bottom: 2px solid #EF4940;
  width: 22px;
  height: 3px;
}

#top-menu .links {
  background-color: #eae9e9;
  padding: 15px 20px 10px;
  width: 155px;
  list-style: none;
  margin: 0;
}

#top-menu .links li {
  background-color: #EF4940;
  margin-bottom: 8px;
  border: 2px solid #f5f4f4;
  padding: 10px 15px;
}

#top-menu .links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#bottom-menu {
	height:60px;
	width:100%;
	background-color: #f1f1f2;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.mobile-view #bottom-menu {
  position: absolute;
  bottom: 0;
}

#bottom-menu .company-logo {
  float: left;
  padding-left: 15px;
}

.mobile-view #bottom-menu .company-logo {
  max-width: 65%;
}

#bottom-menu .lli-logo {
  float: right;
  padding-right: 15px;
}

.mobile-view #bottom-menu .lli-logo {
  max-width: 35%;
}

#bottom-menu ul {
  display: inline;
  margin-left: -60px;
  padding-left: 0;
  list-style-type: none;
}

#bottom-menu ul a { color: transparent; }
#bottom-menu ul li { display: inline; }
#bottom-menu ul li .menu-item img {
  height: 62px;
}

#animations {
  height: 100%;
}

.mobile-view .container {
  position: absolute;
  top: 40px;
  bottom: 90px;
  width: 100%;
}

.mobile-view .container .lobby {
  height: 100%;
  text-align: center;
}

.mobile-view img {
  max-height:100%;
  max-width:100%;
}

.lobby, .exam-room {
  display: none;
  margin: 0 auto;
  position: relative;
}

.lobby .bg-image, .exam-room .bg-image { width: 100%; height: 100%; }
#map_lobby, #lobby { display: none; }
#map_lobby { position: absolute; }

.lobby .whiteboard {
  width: 9.5%;
  height: 16%;
  position: absolute;
  top: 19.2%;
  left: 24.5%;
  padding-left: 1%;
}

.lobby .whiteboard img { width: 100%; }
.lobby .whiteboard #cs2 img, .lobby .whiteboard #cs3 img { margin-top: 5px; }
.lobby .whiteboard #cs2 img { margin-left: -2px; }
.lobby .whiteboard #cs3 img { margin-left: -4px; }
.ui-tooltip, .arrow:after {
  background: #FFF;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}