@font-face {
    font-family: 'felt_tipregular';
    src: url('../fonts/felt_tip_roman-webfont.eot');
    src: url('../fonts/felt_tip_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/felt_tip_roman-webfont.woff2') format('woff2'),
         url('../fonts/felt_tip_roman-webfont.woff') format('woff'),
         url('../fonts/felt_tip_roman-webfont.ttf') format('truetype'),
         url('../fonts/felt_tip_roman-webfont.svg#felt_tipregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7_italic';
    src: url('../fonts/digital-7_italic-webfont.eot');
    src: url('../fonts/digital-7_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7_italic-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_italic-webfont.woff') format('woff'),
         url('../fonts/digital-7_italic-webfont.ttf') format('truetype'),
         url('../fonts/digital-7_italic-webfont.svg#digital-7_italicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.eot');
    src: url('../fonts/digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff'),
         url('../fonts/digital-7-webfont.ttf') format('truetype'),
         url('../fonts/digital-7-webfont.svg#digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
  min-height: 100%;
	text-align: center;
	background-color: #f1f1f2;
  font-family: 'open_sansregular';
}

area { outline: none; display: inline-block; }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.overlay-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}

.fancybox {
  display: none;
  color: #4c4d4e;
}

.overlay {
  display: none;
  color: #4c4d4e;
  position: absolute;
  width: 500px;
  max-height: 400px;
  background-color: white;
  z-index: 10000;
}

img { outline: none; border: none; }

.hide { display: none; }
.vis-hidden { visibility: hidden; }
.fancybox .header, .overlay .header {
  position: relative;
  border-bottom: 1px solid #bfbdbf;
  text-align: left;
  height: 43px;
  padding: 10px;
}

.fancybox .header img, .fancybox .title, .overlay .header img, .overlay .title {
  float: left;
}

.fancybox .content, .overlay .content {
  max-height: 310px;
  padding: 10px;
  overflow: auto;
}

.fancybox .title, .overlay .title {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  line-height: 43px;
  height: 100%;
}

.inside-fb-warning {
  width: 100%;
  height: 100%;
  z-index: 1000000;
  display: none;
}

.inside-fb-warning .bg, .bg-overlay {
  width: 100%;
  height: 100%;
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  position: absolute;
}

.bg-overlay {
  top: 0;
  z-index: 9998;
}

.bg-overlay.grey {
  background: #ccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}


.inside-fb-warning .fb-notifications{
  width: 400px;
  background: #ccc;
  position: absolute;
  padding-bottom: 10px;
  left: 50%;
  margin-left: -200px;
  top: 20%;
  border-radius: 5px 5px 0 0;
}

.overlay .footer {
  height: 7px;
  background-color: #c2a995;
}

.overlay .footer:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 14px solid #c2a995;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  margin-left: -14px;
}

.text-left { text-align: left; }

.fancybox-close, .overlay .close {
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  background-image: url(../img/fancybox-close.png) !important;
  background-size: auto !important;
  top: 15px !important;
  right: 20px !important;
  cursor: pointer;
}

.fb-notifications {
  border-bottom: 6px solid #c2a995;
}

.fb-notifications .header{
  text-align: center;
  border-bottom: none;
}

.fb-notifications .content .text {
  padding: 10px;
  background-color: #FFF;
  font-family: 'open_sansbold';
}

.fb-notifications .header img {
  width: 50px;
}
.fancybox.fb-notifications .header img, .fancybox.fb-notifications .title, .overlay .header img {
  float: none;
}

#top-menu {
  height: 40px;
  width: 100%;
  background-color: #f1f1f2;
  position: absolute;
  z-index: 5;
  background-color: #f5f5f5;
}

#top-menu .links {
  display: none;
}

#top-menu .toggle-menu {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  border: none;
}

#top-menu .toggle-menu:focus {
  outline:0;
}

#top-menu .toggle-menu:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 20px;
  display: block;
  width: 22px;
  height: 2px;
  background: #EF4940;
}

#top-menu .toggle-menu:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #EF4940;
  border-bottom: 2px solid #EF4940;
  width: 22px;
  height: 3px;
}

#top-menu .links {
  background-color: #eae9e9;
  padding: 15px 20px 10px;
  width: 155px;
  list-style: none;
  margin: 0;
}

#lobby-menu {
  position: absolute;
  width: 155px;
  list-style: none;
  margin: 0;
  left: 0px;
  bottom: 20px;
}

#top-menu .links li, #lobby-menu li {
  background-color: #EF4940;
  margin-bottom: 8px;
  border: 2px solid #f5f4f4;
  padding: 10px 15px;
}

#top-menu .links li a, #lobby-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bottom-menu {
	height:60px;
	width:100%;
	background-color: #f1f1f2;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.mobile-view .bottom-menu {
  position: absolute;
  bottom: 0;
}

.bottom-menu .company-logo {
  float: left;
  padding-left: 15px;
}

.mobile-view .bottom-menu .company-logo {
  max-width: 65%;
}

.bottom-menu .lli-logo {
  float: right;
  padding-right: 15px;
}

.mobile-view .bottom-menu .lli-logo {
  max-width: 35%;
}

.bottom-menu ul {
  display: inline-block;
  padding-left: 0;
  list-style-type: none;
  margin: 10px 0 0 -60px;
}

.bottom-menu ul a { color: transparent; display: inline-block; }
.bottom-menu ul li { display: inline-block; }
.bottom-menu ul li .menu-item img {
  height: 50px;

}

#animations {
  height: 100%;
}

.mobile-view .container {
  position: absolute;
  bottom: 90px;
  width: 100%;
}

.mobile-view .container .lobby {
  height: 100%;
  text-align: center;
}

.mobile-view img {
  max-height:100%;
  max-width:100%;
}

.lobby, .exam-room {
  display: none;
  margin: 0 auto;
  position: relative;
}

.lobby .bg-image, .exam-room .bg-image { width: 100%; height: 100%; }
#map_lobby, #lobby, #map_lobby_mobile { display: none; }
#map_lobby { position: absolute; }

.lobby .whiteboard {
  width: 9.5%;
  height: 24%;
  position: absolute;
  top: 19.2%;
  left: 24.5%;
  padding-left: 1%;
}

.mobile-view .lobby .whiteboard {
  width: 17%;
  height: 14.5%;
  top: 16.0%;
  left: 43.4%;  
}

.lobby .whiteboard a {
  display: block;
  margin-top: 2px;
}

.mobile-view .lobby .whiteboard a {
  margin-top: 3px;
}

.lobby .whiteboard img { width: 100%; }
.lobby .whiteboard #cs2 img, .lobby .whiteboard #cs3 img { margin-top: 5px; }
.lobby .whiteboard #cs2 img { margin-left: -2px; }
.lobby .whiteboard #cs3 img { margin-left: -4px; }
.lobby .globe-fb-trigger {
  position: absolute;
  width: 6%;
  height: 12%;
  top: 34.2%;
  left: 35%;
  cursor: pointer;
}
.ui-tooltip, .arrow:after {
  background: #FFF;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

/* JQUERY UI TOOLTIP OVERRIDES */
.tooltip-bubble {
  background-color: none !important;
  background: transparent !important;
  border: none !important;
  border-radius: none !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-shadow: none !important;
  moz-box-shadow: none !important;
  box-shadow: none !important;
}

.tooltip-bubble .content {
  position: relative;
  width: 150px;
  height: 133px;
}

.tooltip-bubble.small .content {
  width: 120px;
  height: 95px;
}

.tooltip-bubble img {
  width: 100%;
  height: 100%;
}

.tooltip-bubble .text {
  position: absolute;
  text-align: center;
  color: #d92932;
  top: 27px;
  left: 7px;
  width: 125px;
  height: 46px;
  line-height: 20px;
  font-weight: bold;
  font-size: 18px;
}

.tooltip-bubble.small .text {
  top: 17px;
  left: 11px;
  width: 91px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}

#globe-fb { display: none; }
#globe-fb img { width: 100%; }

.correct-answer-warning .fb-notifications, .incorrect-answer-warning .fb-notifications {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
  background-color: #f1f1f2;
  z-index: 9999;
  display: block;
  width: 400px;
  margin-left: -200px;
}

.correct-answer-warning .content.warning, .incorrect-answer-warning .content.warning { padding: 10px 20px; }
.correct-answer-warning .content.warning.blue, .incorrect-answer-warning .content.warning.red { padding: 10px 70px; }

.correct-answer-warning .fb-notifications { border-bottom: 6px solid #188eae; }
.correct-answer-warning .content.warning.blue .text { background-color: #188eae; color: #fff; }
.incorrect-answer-warning .fb-notifications { border-bottom: 6px solid #c81022; }
.incorrect-answer-warning .content.warning.red .text { background-color: #c81022; color: #fff; }

.correct-answer-warning .close-warning, .incorrect-answer-warning .close-warning {
  background-image: url(../img/fancybox-close.png) !important;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 99999;
}

.evaluation-container {
  margin-left: 6%;
  margin-top: 5%;
  width: 88%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 10000;
  background: #fff;
  border: 2px solid #c2a995;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top: none;
}

.evaluation-container .header {
  padding: 20px 0 10px 0;
  text-align: center;
  font-size: 24px;
  color: #c81022;
  border-bottom: 2px solid #c2a995;
}


.evaluation-container .top-border .straight {
  background-image: url(../img/red-dot.png);
  height: 10px;
  float: none;
  overflow: hidden;
}

.evaluation-container .top-border .l {
  float: left;
  height: 6px;
}

.evaluation-container .top-border .r {
  float: right;
  height: 6px;
}

.evaluation-container .content {
  padding: 15px 20px;
  text-align: left;
}

.evaluation-container .content .intro {
  padding: 0 15px;
}

.evaluation-container .content .intro .please-rate {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.evaluation-container .grades .grade {
  padding-right: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid #c2a995;
  margin-top: 10px;
}

.evaluation-container .grades .grade .number {
  float: left;
  background: #c81022;
  padding: 15px 25px 17px 25px;
  color: #fff;
  overflow: hidden;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.evaluation-container .grades .grade .text {
  float: left;
  padding: 15px 0 0 10px;
}

.evaluation-container .grades .grade .radios {
  float: right;
}

.evaluation-container .grades .grade .radios .radio {
  float: left;
  padding: 13px 5px 12px 10px;
  border-right: 2px solid #c2a995;
}

.evaluation-container .grades .grade .radios .radio:last-child {
  border-right: none;
}
.evaluation-container .grades .grade .radios .wrapper input { margin: 0; }
.evaluation-container .grades .grade .radios .wrapper {
  padding: 5px;
  background: #ccc;
  display: inline-block;
  margin-left: 10px;
}

.evaluation-container .grades .grade .radios .radio input[type='radio'] {
  -webkit-appearance:none;
  width: 15px;
  height: 15px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

.evaluation-container .grades .grade .radios .radio input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

.evaluation-container .grades .grade .radios .radio input[type='radio']:before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;
}

.evaluation-container .grades .grade .radios .radio input[type='radio']:checked:before {
  background: #c81022;
}

.evaluation-container .buttons {
  position: absolute;
  bottom: -50px;
  width: 100%;
}
.evaluation-container .buttons .left { float: left; }
.evaluation-container .buttons .right { float: right; margin-right: 40px; }
.evaluation-container .question { padding-right: 20px; }
.evaluation-container .question label {
  font-weight: bold;
  padding-top: 10px;
  text-align: left;
  font-size: 14px;
}

.evaluation-container .question textarea {
  resize: none;
  -webkit-border--radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #c2a995;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
}

.ui-loader {
  display: none;
}